@{
    Layout = @"..\_layout.cshtml";
}
@Styles.Render("~/Content/css")

<div class=" panel panel-info" style="margin:0">
    <div class="panel-heading">Jot Thoughts</div>
    <div class="panel-body" id="cardBody">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="contactEmail" class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="contactEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="jottedThought" class="control-label col-sm-2">Jot Area</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="jottedThought" style="min-height:200px" maxlength="500" placeholder="Jot your thoughts here..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="contactConsent"> Contact me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info" formaction="~/Controllers/JotCard/Submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
